.button{
  display: inline-block;
  background: linear-gradient(to bottom, #67C090, #AAFFC7);
  color: white;
  border: none;
  font-size: 16px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  outline: none;
  overflow: none;

  border-radius: 0.5rem;

}